.button {
  background-color: @color-apple;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: @color-apple-dark;
  }

  &:active {
    background-color: @color-apple-dark;
    color: @color-white-light;
  }
}

.button__more {
  background-color: @color-smoke;
  color: @color-charcoal;

  &:hover {
    background-color: @color-smoke-dark;
  }

  &:active {
    background-color: @color-smoke-dark;
    color: @color-charcoal-light;
  }
}
