.catalog__item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @color-black;
}

.catalog__cell,
.catalog__text {
  font-family: 'Arial';
  font-size: 12px;
  line-height: 16px;
}

.button__more {
  background-color: @color-smoke;
  font-size: 16px;
  line-height: 20px;
  color: @color-charcoal;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: @color-smoke-dark;
  }

  &:active {
    background-color: @color-smoke-dark;
    color: @color-charcoal-light;
  }
}
