.category {
  padding-top: 22px;
}

.category__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 11px;
  padding-bottom: 21px;
  background-color: @color-smoke;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 22px;
      width: 50px;
      height: 50px;
      background: @color-apple;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      left: 30px;
      width: 35px;
      height: 49px;
      background-image: url("../img/icon-cat-slim.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &--pro {
    margin-bottom: 19px;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 23px;
      width: 50px;
      height: 50px;
      background: @color-apple;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 34px;
      left: 13px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.category__title {
  padding-left: 92px;
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
  text-transform: uppercase;
}

.category__text {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid #d9d9d9;
}

.category__link {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 16px;
  color: @color-black;
  text-transform: uppercase;


  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 116px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:active::before {
    width: 33px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 3px solid rgb(253, 137, 59);
  }
}

@media (min-width: @tablet-width) {
  .category {
    padding-top: 0;
  }

  .category__title {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 53px;
    font-size: 36px;
  }

  .category__text {
    width: 382px;
    margin: 0;
    padding-bottom: 56px;
    padding-left: 52px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .category__item--pro .category__text {
    width: 341px;
  }

  .category__link {
    padding-left: 53px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 5px;
      left: 183px;
    }

    &--pro {
      &::before {
        left: 177px;
      }
    }
  }

  .category__item {
    margin-bottom: 31px;
    padding-top: 30px;
    padding-bottom: 62px;

    &--slim {
      &::before {
        top: 91px;
        left: 445px;
        width: 200px;
        height: 200px;
      }

      &::after {
        top: 79px;
        left: 475px;
        width: 140px;
        height: 194px;
      }
    }

    &--pro {
      margin-bottom: 17px;

      &::before {
        top: 90px;
        left: 447px;
        width: 200px;
        height: 200px;
      }

      &::after {
        top: 134px;
        left: 411px;
        width: 268px;
        height: 112px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .category__wrapper {
    flex-direction: row;
  }

  .category__title {
    padding-bottom: 73px;
    padding-left: 161px;
  }

  .category__text {
    width: 465px;
    padding-bottom: 31px;
    padding-left: 0;
  }

  .category__item--pro .category__text {
    width: 448px;
  }

  .category__link {
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 4px;
      left: 131px;
    }

    &--pro {
      &::before {
        top: 5px;
        left: 125px;
      }
    }
  }

  .category__item {
    width: 517px;
    margin-bottom: 30px;
    padding-top: 32px;
    padding-left: 53px;

    &--slim {
      &::before {
        top: 47px;
        left: 53px;
        width: 100px;
        height: 100px;
      }

      &::after {
        top: 41px;
        left: 67px;
        width: 70px;
        height: 97px;
      }
    }

    &--pro {
      &::before {
        top: 47px;
        left: 52px;
        width: 100px;
        height: 100px;
      }

      &::after {
        top: 69px;
        left: 35px;
        width: 134px;
        height: 56px;
      }
    }
  }
}
