.contacts {
  background-color: @color-white;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    font-size: 16px;
  }
}
