.contacts__address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 27px;
}

.contacts__title {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-transform: uppercase;
}

.contacts__text {
  width: 140px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contacts__address {
    padding-bottom: 60px;
    padding-top: 63px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    padding-left: 42px;
  }

  .contacts__text {
    width: 192px;
    font-size: 16px;
    text-align: right;
    padding-right: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .contacts__address {
    position: absolute;
    background-color: @color-white;
    width: 408px;
    height: 79px;
    padding: 65px 85px 58px 77px;
    display: flex;
    justify-content: space-between;
    top: 95px;
    left:342px;
  }

  .contacts__title {
    padding: 0;
  }

  .contacts__text {
    width: 160px;
    text-align: left;
    justify-content: flex-start;
    padding: 0;
  }

  .contacts__text span {
    padding-top: 20px;
  }
}
