.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  margin-left: -1px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: @color-charcoal;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    position: relative;

    &:focus {
      outline: 3px solid rgb(253, 137, 59);
    }
  }

  .copyright__text {
    margin-left: 0;

    &:active {
      opacity: 0.3;
    }
  }

  .copyright__icon {
    position: absolute;
    top: -7px;
    left: 137px;

    &:hover {
      fill: @color-apple;
    }

    &:active {
      fill: @color-apple;
      opacity: 0.3;
    }
  }
}
