.main-nav {
  position: relative;
}

.main-nav__wrapper {
  top: 0;
  right: 0;
  z-index: 10;
  background-color: @color-white;
}

.main-nav__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: @mobile-width-only) {
  .main-nav__close {
    display: none;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }

  .main-nav__open {
    display: block;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    min-width: 480px;
  }
}
