.other-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-black;
  text-transform: uppercase;
}

.other-products__title-item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @color-nero;
  text-transform: uppercase;
}

.other-products__item-cell {
  font-family: "Arial", sans-serif;
  line-height: 14px;
}
