.page-footer {
  background-color: @color-smoke;
}

.page-footer__contacts--index {
  background-color: @color-white;
}

.page-footer__logo-text {
  padding-bottom: 28px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 3px solid rgb(253, 137, 59);
  }
}

.page-footer__bottom {
  padding-top: 35px;
  text-align: center;
}

.page-footer__copyright {
  padding-top: 21px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .page-footer__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    padding: 55px 0 30px 13px;
  }

  .page-footer__logo-text {
    padding-top: 7px;
  }

  .page-footer__logo {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &:focus {
      outline: 3px solid rgb(253, 137, 59);
    }
  }

  .page-footer__copyright {
    width: 163px;
    margin: 0;
    padding: 9px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
    background-color: @color-white;
  }

  .page-footer__bottom {
    width: 1220px;
    padding-top: 54px;
    padding-bottom: 35px;
  }
}
