.page-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  color: @color-black;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 11px;
}

.page-header__logo {
  width: 280px;
}

.page-header__toggle {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 24px 20px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &-close {
    position: absolute;
    top: 9px;
    right: 23px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 21px;
    border: none;
  }

  .page-header__logo {
    padding-top: 3px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &:focus {
      outline: 3px solid rgb(253, 137, 59);
    }
  }

  .page-header__logo,
  .page-header__logo-image {
    display: block;
    width: 173px;
    height: 58px;
  }

  .page-header__wrapper {
    padding: 0;
    border: none;
  }

  .page-header__toggle {
    display: none;

    &-close {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 51px;
  }

  .page-header__logo,
  .page-header__logo-image {
    width: 202px;
    height: 60px;
  }

  .page-header__index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 696px;
    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
