.programm__desc {
  color: @color-black;
  text-transform: uppercase;
}

.programm__form-item {
  border: none;
  padding: 0;
}

.programm__form-legend {
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
}

.programm__label {
  font-size: 16px;
  color: @color-nero;
  text-transform: uppercase;
}

.programm__input,
.programm__textarea::placeholder {
  font-size: 16px;
  color: @color-charcoal;
  text-transform: uppercase;
}

.programm__text {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .programm__desc {
    font-size: 20px;
    line-height: 30px;
  }

  .programm__label {
    font-size: 20px;
    line-height: 30px;
  }

  .programm__input,
  .programm__textarea::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .programm__text{
    font-size: 16px;
  }
}
