.programm__title {
  margin-bottom: 25px;
  padding-top: 14px;
}

.programm__desc {
  margin-bottom: 39px;
  color: @color-black;
  text-transform: uppercase;
}

.programm__text {
  margin-left: -1px;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
}

.programm__label {
  position: relative;
  display: block;
  margin-right: 15px;
  font-size: 16px;
  color: @color-nero;
  text-transform: uppercase;

  &--block {
    display: block;
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 24px;
    color: @color-black;
  }

  &--email {
    margin-right: 11px;
  }

  &--tel {
    margin-right: 9px;
  }
}

.programm__form {
  &--item {
    padding: 0;
    border: none;
  }

  &--block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--title {
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 24px;
    color: @color-black;
  }

  &--wrap {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}

/* text-block */

.programm__form--item-text {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.programm__text--block {
  padding-bottom: 15px;
}

.programm__input {
  flex-grow: 1;
  height: 40px;
  padding-left: 14px;
  font-size: 16px;
  color: @color-charcoal;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    border: 1px solid rgb(205, 205, 205);
  }

  &:active,
  &:focus {
    border: 1px solid @color-charcoal;
    outline: 3px solid rgb(253, 137, 59);
  }

  &:invalid {
    border: 1px solid #ff8282;

    & + .programm__link {
      fill: #ff8282;
    }
  }
}

.programm__input-text {
  display: flex;
  flex-grow: 1;
  width: 140px;
}

/* radio-block */

.programm__form--item-radio {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 26px 0 2px;
}

.programm__radio--block {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 25px;
}

.programm__input-radio {
  & + label {
    position: relative;
    display: block;
    padding-left: 46px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 1px;
      width: 28px;
      height: 28px;
      background-color: @color-white;
      border: 1px solid #cecece;
      border-radius: 50%;
    }
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: @color-apple;
    border-radius: 50%;
  }

  &:hover {
    & + label::before,
    &:checked + label::before {
      border: 1px solid #bababa;
    }
  }

  &:active + label {
    opacity: 0.3;
  }
}

/* email-block */

.programm__email--block {
  position: relative;
  width: 280px;
  margin: 0 auto 14px;
}

.programm__link {
  position: absolute;
  z-index: 1;
  padding: 5px 12px;
  background-color: @color-white;

  &--email {
    top: 11px;
    left: 235px;
  }

  &--tel {
    top: 67px;
    left: 235px;
  }

  &:active {
    fill: @color-apple;
  }
}

/* textarea-block */

.programm__textarea {
  display: block;
  width: 256px;
  min-height: 126px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 13px 9px 10px 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-size: 16px;
  color: @color-charcoal;
  text-transform: uppercase;

  &:hover {
    border: 1px solid rgb(205, 205, 205);
  }

  &:active,
  &:focus {
    border: 1px solid @color-charcoal;
    outline: 3px solid rgb(253, 137, 59);
  }
}

/* checkbox-block */

.programm__form--item-checkbox {
  margin-bottom: 23px;
}

.programm__checkbox--block {
  display: flex;
  justify-content: flex-start;
  padding-top: 6px;
  padding-bottom: 18px;
  text-align: center;
}

.programm__input-checkbox {
  & + label {
    position: relative;
    display: block;
    padding-left: 46px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 29px;
      height: 29px;
      background-color: @color-white;
      border: 1px solid #cdcdcd;
    }
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 21px;
    height: 15px;
    background: url("../img/icon-tick.svg") no-repeat;
    background-size: 21px 15px;
  }

  &:hover {
    & + label::before,
    &:checked + label::before {
      border: 1px solid #bababa;
    }
  }

  &:active + label,
  &:active + label::before,
  &:active:checked + label::after {
    opacity: 0.3;
  }
}

/* focus outline */

.programm__input-radio:focus + label::before,
.programm__input-checkbox:focus + label::before,
.programm__input-checkbox:focus:checked + label::before {
  opacity: 1;
  outline: 3px solid rgb(253, 137, 59);
  outline-offset: 5px;
}

/* programm__footer */

.programm__button {
  margin-bottom: 22px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .programm__form--section {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .programm__title {
    margin-bottom: 55px;
    padding-top: 48px;
  }

  .programm__form--wrap::before {
    display: none;
  }

  .programm__desc {
    margin-bottom: 64px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .programm__label {
    margin-right: 5px;
    font-size: 20px;
    line-height: 30px;
  }

  .programm__input {
    margin-left: 10px;
    padding-left: 19px;
    height: 48px;
    font-size: 20px;
    line-height: 20px;

    &--email {
      margin-right: 4px;
      margin-left: 14px;
    }

    &--tel {
      margin-right: 2px;
    }
  }

  .programm__form--title {
    margin-bottom: 75px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .programm__form--item-text {
    width: 628px;
    margin-bottom: 42px;
    padding-left: 5px;
  }

  .programm__text--block {
    width: 630px;
    padding-bottom: 20px;
  }

  .programm__form--block {
    width: inherit;

    &-email {
      padding-left: 5px;
    }

    &-tel {
      padding-left: 2px;
    }
  }

  .programm__email--block {
    width: 635px;
    margin-bottom: 46px;
    padding-left: 16px;
    padding-right: 0;
  }

  .programm__checkbox--block-wrap {
    position: relative;
    left: 42px;
    display: flex;
    flex-wrap: wrap;
  }

  .programm__checkbox--block {
    width: 287px;
    margin-right: 56px;
    padding-bottom: 36px;
  }

  .programm__footer {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
    padding-left: 70px;
  }

  .programm__button {
    width: 283px;
    margin-right: 0;
    margin-left: 0;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
  }

  .programm__radio--block {
    padding-bottom: 23px;
  }

  .programm__form--item-radio {
    width: 570px;
    margin-bottom: 76px;
    margin-left: 41px;
    padding: 29px 29px 6px;
    border: 1px solid #e6e6e6;
  }

  .programm__input-radio {
    & + label {
      padding-left: 58px;

      &::before {
        top: -6px;
        left: -3px;
        width: 40px;
        height: 40px;
      }
    }

    &:checked + label::after {
      width: 18px;
      height: 18px;
      top: 6px;
      left: 9px;
    }
  }

  .programm__link {
    padding: 5px 13px;

    &--email {
      top: 16px;
      left: 601px;
    }

    &--tel {
      top: 85px;
      left: 601px;
    }
  }

  .programm__textarea {
    position: relative;
    left: 10px;
    width: 594px;
    min-height: 146px;
    padding: 15px 17px 12px 17px;
    font-size: 20px;
    line-height: 20px;
  }

  .programm__input-checkbox {
    & + label {
      padding-left: 57px;

      &::before {
        top: -4px;
        left: -2px;
        width: 38px;
        height: 38px;
      }
    }

    &:checked + label::after {
      width: 21px;
      height: 16px;
      top: 8px;
      left: 8px;
      background-size: 21px 16px;
    }
  }

  .programm__form--title-checkbox {
    margin-bottom: 55px;
  }

  .programm__form--item-checkbox {
    margin-top: 65px;
    margin-bottom: 24px;
  }

  .programm__text {
    padding-left: 62px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .programm__form--section {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 59px;
    padding: 0 40px;
  }

  .programm__title {
    padding-top: 65px;
  }

  .programm__desc {
    margin-bottom: 65px;
    padding-left: 40px;
  }

  .programm__input {
    margin-left: 10px;
    padding-left: 18px;

    &--email {
      margin-right: 3px;
      margin-left: 15px;
    }
  }

  .programm__text--block:last-child {
    padding-bottom: 0;
  }

  .programm__form--item-text {
    width: 568px;
    margin: 0;
    padding-left: 2px;
  }

  .programm__form--item-radio {
    width: 512px;
    margin: 0;
    padding: 29px 28px 7px;
  }

  .programm__input-radio {
    & + label {
      padding-left: 58px;

      &::before {
        top: -6px;
        left: -2px;
        width: 40px;
        height: 40px;
      }
    }

    &:checked + label::after {
      top: 7px;
      left: 10px;
    }
  }

  .programm__email--block {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 68px;
  }

  .programm__form--block-email {
    width: 570px;
    margin-left: 1px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .programm__form--block-tel {
    width: 572px;
  }

  .programm__link {
    padding: 5px 16px;

    &--email {
      top: 16px;
      left: 532px;
    }

    &--tel {
      top: 13px;
      left: 1180px;
    }
  }

  .programm__textarea {
    left: 7px;
    width: 1183px;
    min-height: 141px;
    padding: 16px 17px 17px 19px;
  }

  .programm__form--item-checkbox {
    margin-top: 66px;
    margin-bottom: 31px;
  }

  .programm__form--title-checkbox {
    margin-bottom: 55px;
  }

  .programm__checkbox--block-wrap {
    width: 1220px;
    left: 0;
  }

  .programm__checkbox--block {
    width: 245px;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .programm__input-checkbox {
    & + label {
      &::before {
        top: -4px;
        left: -1px;
      }
    }

    &:checked + label::after {
      left: 9px;
      top: 7px;
    }
  }

  .programm__footer {
    margin-bottom: 61px;
    padding-left: 40px;
  }

  .programm__button {
    width: 570px;
  }

  .programm__text {
    padding-left: 82px;
  }
}
