.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @color-white;
  color: @color-white;
  text-align: center;
}

.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
