
.result {
  background-color: @color-smoke;
}

.result__text {
  font-family: "Arial", sans-serif;
}

.result__list {
  list-style: none;
}

.result__item-number {
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
  text-transform: uppercase;
  text-align: center;
}

.result__item-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.result__total {
  line-height: 18px;
  color: @color-black;
  text-transform: uppercase;
  text-align: center;
}

.result__button {
  font-size: 16px;
  line-height: 20px;
  color: @color-black;
  text-transform: uppercase;
  background: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .result__stat {
    background-color: @color-white;
  }
}

@media (min-width: @desktop-width) {
  .result__title {
    background-color: @color-white;
  }

  .result__stat {
    background-color: @color-smoke;
  }
}
