.result {
  margin-top: 20px;
  background-color: @color-smoke;
}

.result__wrap {
  width: 280px;
  margin: 0 auto;
}

.result__title {
  margin-top: 0;
  margin-bottom: 23px;
  padding-top: 17px;
}

.result__text {
  width: 279px;
  margin-bottom: 16px;
  font-family: "Arial", sans-serif;
}

.result__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.result__item-number {
  width: 123px;
  margin: 0;
  margin-top: 8px;
  padding: 15px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-black;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 1px;
}

.result__item-text {
  width: 60px;
  margin: 0 auto;
  margin-top: -8px;
  padding: 0 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: @color-smoke;
}

.result__total {
  padding-top: 6px;
  line-height: 18px;
  text-align: center;
  color: @color-black;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .result {
    margin-top: 0;
    background-color: @color-white;
    border-top: 1px solid #e6e6e6;
  }

  .result__title {
    margin-top: 15px;
    padding-top: 28px;
    font-size: 60px;
    line-height: 60px;
  }

  .result__text {
    width: 702px;
    margin-bottom: 15px;
    padding-top: 42px;
    font-size: 16px;
    line-height: 24px;
  }

  .result__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 708px;
    margin-bottom: 45px;
    padding-top: 28px;
  }

  .result__list {
    width: 366px;
    padding: 0;
  }

  .result__item-number {
    width: 160px;
    margin: 0;
    margin-top: 0;
    padding: 16px 0;
    font-size: 30px;
    line-height: 37px;
  }

  .result__item-text {
    width: 130px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: @color-white;
  }

  .result__total {
    width: 192px;
    margin-top: 0;
    padding-top: 15px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .result {
    margin-bottom: 0;
    border-top: none;
  }

  .result__stat-container {
    padding-top: 0;
    padding-bottom: 50px;
    background-color: @color-smoke;
  }

  .result__stat-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .result__wrap {
    flex-direction: column;
    width: 365px;
    margin: 0;
    padding-top: 25px;
  }

  .result__stat-wrap {
    width: 570px;
    padding: 26px 0 0 8px;
  }

  .result__total {
    width: 364px;
    padding-top: 50px;
    text-align: left;
  }

  .result__total-sum {
    margin-left: 60px;
  }

  .result__title {
    margin-bottom: 76px;
    padding-top: 8px;
  }

  .result__text {
    width: 435px;
    margin: 0;
    margin-bottom: 43px;
    padding-top: 44px;
  }

  .result__item-number {
    padding: 14px 0 18px;
  }

  .result__item-text {
    margin-top: -8px;
    background-color: @color-smoke;
  }
}
