.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  width: 55px;
}
.social__link {
  fill: #666666;

  &--instagram {
    margin-left: 3px;
    margin-top: 3px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    display: flex;
    flex-grow: 1;
  }

  .social__list {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3px;
    width: 154px;
    padding-left: 26px;
  }

  .social__link {
    &--vkontakte {
      width: 30px;
      height: 16px;;
    }

    &--instagram {
      width: 23px;
      height: 23px;
      margin-left: 8px;
    }

    &--facebook {
      width: 14px;
      height: 28px;;
    }
  }
}
