.title-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 56%;
    left: 0;
    background-color: @color-apple;
    z-index: 1;
  }
}

.title-line span {
  display: inline-block;
  position: relative;
  padding-right: 24px;
  background-color: @color-white;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    left: -24px;
    background-color: @color-white;
  }
}

@media (min-width: @tablet-width) {
  .title-line span {
    padding-left: 38px;
    padding-right: 38px;

    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .title-line span {
    padding-left: 0;

    &::before {
      display: block;
      width: 38px;
      left: -38px;
    }
  }
}
